In [1]:
#1 Create a function that takes a boolean variable flag and returns it as a string.
def bool_to_string(flag):
    return(str(flag))
bool_to_string(True)

'True'

In [2]:
#2 function that returns True when num1 is equal to num2; otherwise return False.
def same_num(a,b):
    if a==b:
        return True
    else:
        return False
same_num(2,'2')

False

In [3]:
#3 function that returns True when num=0
def equal_0(c):
    return c==0
equal_0(4)

False

In [62]:
#4 Emmy has written a function that returns a greeting to users. However, she's in love with Mubashir, and would like to greet him slightly differently. She added a special case in her function, but she made a mistake.
#Can you help her?
def greeting(name):

    if name == "Mubashir":
        return "Hello, my Love!"
    else:
        return "Hello, " + name + "!"
greeting("Mubashir")

'Hello, my Love!'

In [63]:
#5 Both arguments are integers, a and b. Return True if one of them is 10 or if
def makes10(a,b):
    if a==10 or b==10 or a+b==10:
        return True
    else:
        return False
makes10(2,8)

True

In [64]:
#6 three arguments prob, prize, pay and returns True if prob * prize > pay; otherwise return
def profitable_gamble(prob, prize, pay):
    return prob * prize > pay
profitable_gamble(2,3,4)

True

In [65]:
#7 function that takes an integer and returns True if it's divisible by 10, otherwise return False.
def divisible(num):
    return num%10==0
divisible(4)

False

In [66]:
#8 comparing 2 strings if their length is same
def comp(a,b):
    return len(str(a))==len(str(b))
comp('boom','moob')

True

In [68]:
#9 Given a string, return True if its length is even or False if the length is odd.
def odd_or_even(word):
    if len(word)%2==0:
        return 'even'
    else:
        return 'odd'
odd_or_even('shit')

'even'

In [10]:
#10 function that takes a string; we'll say that the front is the first three characters of the string. If the s
def front3(txt):
    if len(txt)>3:
        print(txt[0:3]*3)
    else:
        print(txt*3)
front3('python')

pytpytpyt

In [11]:
#11 function that shows a number is even or not
def is_even(n):
    return n%2==0
is_even(2)

True

In [12]:
#12 func that tells a number is odd or even
def isEvenOrOdd(num):
   if num%2==0:
    
     print('Even')
   else:
     print('Odd')
isEvenOrOdd(2)

Even

In [13]:
#13 if the word is a plural
def is_plural(word):
 return word[-1]=='s'

In [14]:
#14 if word ends with letter n
def is_last_character_n(word):
 return word[-1]=='n'
is_last_character_n('sdvn')

True

In [15]:
#15 The packaging system is running wild! The candy is lying loose all over in the warehouse, the cereal is missing,
#and bread is stuffed in a bottle. What is going on here? The candy should be in plastic and the bread should be in
#a bag.
#The packaging machine is running the get_container() function to retrieve the container of a product. But something is not right...
#Examples
#get_container("Bread") ➞ "bag"
#get_container("Beer") ➞ "bottle"
#get_container("Candy") ➞ "plastic"
#get_container("Cheese") ➞ None

def get_container_for(product):
    
    matches = {"Bread":"bag", "Milk":"bottle","Beer":"bottle","Eggs":"carton","Cerials":"box","candy":"plastic","cheese":"packet"}
    
    return matches[product]
get_container_for('Bread')

'bag'

In [16]:
#16 function that returns the opposite of the given boolean, as a number.
def flip_bool(given):
    
    if given==True or given==1:
         return 0
    elif given==False or given==0:
        return 1

In [17]:
#17 find area of triangle and parallelogram
def area_shape(base, height, shape):
    return {'triangle': 0.5*base*height, 'parallelogram': base*height}[shape]

In [18]:
#18 You will need to write three unfinished logic gates. Continue to write the three logic gates: AND, OR, and NOT.
def AND(x,y):
    if x==1 and y==1:
        print(1)
    else:
        print(0)
def OR(x,y):
    if x==1 or y==1:
        print(1)
    else:
        print(0)
def NOT(x):
    if x==1:
        print(0)
    else:
        print(1)

In [19]:
#19 A bartender is writing a simple program to determine whether he should serve drinks to someone. He only serves drinks to people 18 and older and when he's not on break.
#Given the person's age, and whether break time is in session, create a function which returns whether he should serve drinks.
#Examples
#should_serve_drinks(17, True) ➞ False
#should_serve_drinks(19, False) ➞ True
#should_serve_drinks(30, True) ➞ False

def should_serve_drinks(age, on_break):
    if on_break==True:
        return False
    else:
        if age>=18:
            return True
        else:
            return False

In [20]:
#20 
def parity(n):
    remainder = bool(n % 2)
    if remainder == False:
        return "even"
    if remainder == True:
        return "odd"
parity(3)

'odd'

In [21]:
#21 list that contains the fulcrum "f", the effort "e", and the load "l", write a function that determines 
#whether or not the list shows a first class lever, second class lever, or a third class lever.
#Examples
#determine_lever(["e", "f", "l"]) ➞ "first class lever"
#determine_lever(["e", "l", "f"]) ➞ "second class lever"
#determine_lever(["f", "e", "l"]) ➞ "third class lever"

def determine_lever(l):
  if l[0]=="e" and l[1]=="f":
            return "first class lever"
  elif l[0]=="f" and l[1]=="e":
            return "third class lever"
  elif l[0]=="e" and l[1]=="l":
            return "second class lever"
  else:
            return "Not a lever class"

In [22]:
#22 function that checks whether a person can watch an MA15+ rated movie. One of the following two 
#conditions is required for admittance:
#The person is at least 15 years old.
#They have parental supervision.
#The function accepts two parameters, age and is_supervised. Return a boolean.

def accept_into_movie(age, is_supervised):
    if age<15 and is_supervised==False:
        return False
    else:
        return True

In [23]:
#23 A taxi journey costs $3 for the first kilometer travelled. However, all kilometers travelled after that will cost $2 each.
#Create a function which returns the distance that the taxi must've travelled, given the cost as a parameter.

def journey_distance(n):
    if n==3:
        return 1
    else:
        return (n-1)/2
journey_distance(9)

4.0

In [24]:
#24 Create a function that returns a number, based on the string provided.
def word(x):
    y=x.lower()
    num={"one":1,"two":2,"three":3,"four":4,"five":5,"six":6,"seven":7,"eight":8,"nine":9,"zero":0}
    return num[y]

In [25]:
#25  Write a function that uses the ternary operator to return "yeah" if b is True, and "nope" otherwise.
def yeah_nope(b):
    return 'yeah' if b else 'nope'
yeah_nope(True)

'yeah'

In [26]:
#26 repeat the string by the given value in the function
def repeat_string(txt, n):
    if type(txt)==str:
        return txt*n
    else:
        return 'Not a String'
repeat_string(200,2)

'Not a String'

In [27]:
#27 Create a function that takes a number x and a character y ("m" for male, "f" for female), and returns the 
#name of an ancestor (m/f) or descendant (m/f).
#If the number is negative, return the related ancestor.
#If positive, return the related descendant.
#You are generation 0. In the case of 0 (male or female), return "me!".
def generation(x,y):
    gen={-3:{'m':'great grandfather','f':'great grandmother'}, -2:{'m':'grand father','f':'grand mother'},
         -1:{'m':'father','f':'mother'}, 0:{'m':'me','f':'me'} , 1:{'m':'son','f':'daughter'},
         2:{'m':'grandson','f':'grand daughter'}, 3:{'m':'great grandson','f':'great grand daughter'}}
    return gen[x][y]
generation(2,'m')

'grandson'

In [28]:
#28 Backpack Bill and Wallet Will set off for the annual festival. As they approach the stalls, Bill retorts that 
#he'll be able to bring home more stuff than Will. Taking this as a challenge, Will refutes and a competition 
#spurs into action.
#Backpack Bill has an infinite inventory space, but a limited number of coins.
#Wallet Will has an infinite number of coins, but a limited inventory space.
#Create a function that returns the name of the man who can bring home the most items. The parameters are given
#as follows:
#Bill's amount of money.
#Will's amount of inventory space.
#The item's price.
#The item's size.

def who_wins_tonight(coins, space, price, size):
    if int(coins/price)>int(space/size):
        return 'Bill'
    elif int(coins/price)<int(space/size):
        return 'Will'
    else:
        return 'Tie'
who_wins_tonight(3, 7, 2, 5)

'Tie'

In [29]:
#29 Create a function that validates whether a number n is within the bounds of lower and upper. Return False
#if n is not an integer.
#Examples
#int_within_bounds(3, 1, 9) ➞ True
#int_within_bounds(6, 1, 6) ➞ False
#int_within_bounds(4.5, 3, 8) ➞ False
def int_within_bounds(n, lower, upper):
    if type(n)!=int:
        return False
    else:
        if lower<n<upper:
            return True
        else:
            return False
int_within_bounds(4.5, 3, 8)

False

In [30]:
#30 Write a function that returns the boolean True if the given number is zero, the string "positive" if the 
#number is greater than zero or the string "negative" if it's smaller than zero.
def compare_to_100(x):
    if x > 100:
        return "greater"
    elif x < 100:
        return "smaller"
    else:
        return "equal"
compare_to_100(45)

'smaller'

In [31]:
#31 Create a function that determines if the temp of the water is considered boiling or not. temp will be measured
#in Fahrenheit and Celsius.

def is_boiling(temp):
    if temp.endswith('F')==True or temp.endswith('f')==True:
        if int(temp[:-1])>=212:
            return True
        else:
            return False
    elif temp.endswith('c')==True or temp.endswith('C')==True:
        if int(temp[:-1])>=100:
            return True
        else:
            return False
    else:
        return False
is_boiling("212f")

True

In [32]:
#32 create a func that returns n largest  numbers in the given list
def largest_numbers(n, lst):
    lst.sort(reverse=True)
    return lst[0:n]
largest_numbers(2, [4, 3, 2, 1])

[4, 3]

In [33]:
#33
def first_one(a, b=None, c=None, d=None):
    if bool(a) == True:
        return a
    elif bool(b) == True:
        return b
    elif bool(c) == True:
        return c
    elif bool(d) == True:
        return d
    else:
        return "not found"

In [34]:
#34 sepearte the given numbers as odd and even
e=[]
o=[]
def clean_up_list(lst):
    for x in lst:
        if int(x)%2==0:
            e.append(int(x))
        else:
            o.append(int(x))
    return [e,o]  
clean_up_list(['2','3','4','5'])

[[2, 4], [3, 5]]

In [35]:
 #x=[];y=[];even=[];odd=[]
  #  for z in a:
   #     l=int(z)
    #    x.append(l)
    #for s in x:
     #   if s%2==0:
      #      even.append(s)
       # else:
        #    odd.append(s)
   # y.append(even)
    #y.append(odd)
    #return y

In [36]:
#35 create a function to find whether we can form a triangle with the given sides length
def is_triangle(a, b, c):
    return a+b>c or a+c>b or b+c>a
is_triangle(2, 3, 4)

True

In [37]:
#36 A "truthy" value is a value that translates to True when evaluated in a Boolean context. All values are truthy 
#unless they're defined as falsy.
#All falsy values are as follows:
#False, None, 0, [], {},""
#Create a function that takes an argument of any data type and returns 1 if it's truthy and 0 if it's falsy.

def is_truthy(val):
    return bool(val)
is_truthy('')

False

In [38]:
#37 Write a function that returns True if both numbers are:
#Smaller than 0, OR ...
#Greater than 0, OR ...
#Exactly 0
#Otherwise, return False.

def both(n1, n2):
    if n1>0 and n2>0:
        return True
    elif n1<0 and n2<0:
        return True
    elif n1==0 and n2==0:
        return True
    else:
        return False
both(0,2)

False

In [39]:
#38 
#Create a function that takes a range object r,index i,and returns a list where the first element is the number
#of elements in the range object, and the second element is the element of the range object at the given index.

def length_element(r,i):
    l=[]
    l.append(len(r))
    l.append(r[i])
    return l

In [40]:
#39 create a func to find whether the input string can be used as an variable
def variable_valid(var):
    return var.isidentifier()
variable_valid('2wefv')

False

In [41]:
#40 In a board game, a piece may advance 1-6 tiles forward depending on the number rolled on a six-sided die. 
#If you advance your piece onto the same tile as another player's piece, both of you earn a bonus.Can you reach 
#your friend's tile number in the next roll? Create a function that returns if it's possible to earn a bonus when 
#you roll the die.
def possible_bonus(a,b):
    return a<b and b-a<=6
possible_bonus(2,3)

True

In [42]:
#41 find 2 numbers are equal or not
def is_equal(num1, num2):
    return type(num1)==int and type(num2)==int and num1==num2
is_equal(2,2)

True

In [43]:
#42 Write a function that takes a string name and a number num (either 0 or 1) and return "Hello" + name if num
#is 1, otherwise return "Bye" + name.

def say_hello_bye(name, num):
    if num==1:
        return 'Hello '+ name
    else:
        return 'Bye ' + name
say_hello_bye('jose',1)

'Hello jose'

In [44]:
#43 Create a function that takes three number arguments — one number as an input and two additional numbers 
#representing the endpoints of a closed range — and return the number limited to this range.
#If the number falls within the range, the number should be returned.
#If the number is less than the lower limit of the range, the lower limit should be returned.
#If the number is greater than the upper limit of the range, the upper limit should be returned.
def limit_number(num,low,high):
    if low<=num<=high:
        return num
    elif num<low:
        return low
    else:
        return high
limit_number(4.5,2,6)

4.5

In [45]:
#44 If the number is a multiple of 3, return "Hello".
#If the number is a multiple of 5, return "World".
#If the number is a multiple of both 3 and 5, return "Hello World".

def hello_world(num):
    if num%3==0:
        return 'Hello'
    elif num%5==0:
        return 'world'
    elif num%3==0 and num%5==0:
        return 'Hell0 World'
    else:
        return None
hello_world(3)

'Hello'

In [46]:
#45 #For the purposes of this challenge, the style characters are as follows:
#"b" is for bold
#"i" is for italics
#"c" is for inline code
#"s" is for strikethrough
def md_format(word, style):
    if style=='b':
        return '**'+word+'**'
    elif style=='i':
        return '_'+word+'_'
    elif style=='c':
        return '`'+word+'`'
    elif style=='s':
        return '~~'+word+'~~'
    else:
        return None
md_format('boom','b')

'**boom**'

In [47]:
#46 find the given year is a leap year or not
def leap_year(y):
    return y%4==0
leap_year(2020)

True

In [48]:
#47 find whether the object is acidic or alkaline given the ph value
def ph(n):
    if n>=0 and n<=14:
        if n<7:
            return 'acidic'
        elif n>7:
            return 'Alkaline'
        else:
            return 'neutral'
    else:
        return 'invalid'
ph(7)

'neutral'

In [49]:
#48 create a function that takes the dart location as two cartesian coordinates (x, y)
#and returns a score based on the distance from the middle, aka Bullseye (x=0, y=0).
#Bullseye and inner circle scores = 10 points
#Middle ring scores = 5 points
#Outer ring scores = 1 point
#Outside the target = 0 points

def darts_scoring(x, y):
    r=((x**2)+(y**2))**0.5
    if r<=1:
        score=10
    elif 1<r<=5:
        score=5
    elif 5<r<=10:
        score=1
    else:
        score=0
    return score
darts_scoring(2,2)

5

In [50]:
#49 Create a function that takes an array of hurdle heights and a jumper's jump height, and determine 
# whether or not the hurdler can clear all the hurdles.A hurdler can clear a hurdle if their 
# jump height is greater than or equal to the hurdle height.
def hurdle_jump(hurdles, jump_height):
    hurdles.sort()
    if jump_height>=hurdles[-1]:
        return True
    else:
        return False
hurdle_jump([1, 2, 1], 1)

False

In [51]:
#def hurdle_jump(hurdles, jump_height):
 #   for x in hurdles:
  #      if jump_height<=x:
   #         return False
    #    else:
     #       return True
#hurdle_jump([1, 2, 1], 1)

In [52]:
#50 find type of traingle with given sides

def get_triangle_type(l):
    if len(l)==3:
        if l[0]==l[1]==l[2]:
            return 'equilateral'
        elif l[0]==l[1] or l[1]==l[2] or l[0]==l[2]:
            return 'isoceles'
        else:
            return 'scalene'
    else:
        return 'not a triangle'
get_triangle_type([2, 6, 5])

'scalene'

In [53]:
#51 find whether the rooks can attack each other\

def can_capture(rooks):
    return rooks[0][0]==rooks[1][0] or rooks[0][1]==rooks[1][1]
can_capture(["A8", "E8"])

True

In [54]:
#52  Given an integer n. Your task is to find how many digits this integer contains without using str or len method

def sum_digits(n):
    a=0
    while n>=1:
        a+=1
        n/=10
    return a    
sum_digits(1200)

4

In [55]:
#53 Create a function that takes in a two-dimensional list and returns the number of sub-lists with only 
#identical elements.


def count_identical(lst):
    c=0
    b=0
    for x in lst:
        if len(x)==1:
            c+=1
        else:
            t=set(x)                                 #a=x[0];b=0
            if len(t)==1:                            #for y in range(1,len(x)):
                b+=1                                      #if a==x[y]:
                t.clear()                                      #b+=1
            else:                                    #if b>=1:     
                t.clear()                                 #l+=1 
               
                                               #return l
                    
                
    return c+b
count_identical([ ["@", "@", "@", "@"],[2, 3], [3, 4], [4, 4]])

2

In [56]:
#54 Create a function that takes a number (from 1 to 12) and returns its corresponding month name as a string. 
#For example, if you're given 3 as input, your function should return "March", because March is the 3rd month.

def month_name(num):
    m={1:'january',2:'febraury',3:'march',4:'april',5:'may',6:'june',7:'july',8:'august',9:'september',10:'october',11:'november',12:'december'}
    return m[num]
month_name(12)

'december'

In [57]:
#55 Create a function that takes an initial word and extracts any words that start with the same letters as
#the initial word.

def dictionary(initial, words):
    y=[]
    for x in words:
        if initial==x[0:len(initial)]:
            y.append(x)
        else:
            continue
    return y        
dictionary("tri", ["triplet", "tries", "trip", "piano", "tree"])

['triplet', 'tries', 'trip']

In [58]:
#56 Create a function that takes a list of strings and returns the words that are exactly four letters.

def is_four_letters(lst):
    le=[]
    for x in lst:
        if len(x)==4:
            le.append(x)
        else:
            continue
    return le
is_four_letters(["Tomato", "Potato", "Pair"])

['Pair']

In [59]:
#57 Create a function that takes a year as an argument and returns the corresponding Chinese zodiac.
def chinese_zodiac(y):
    if y%12==1:
        return "Rooster"
    elif y%12==2:
        return "Dog"
    elif y%12==3:
        return "Pig"
    elif y%12==4:
        return "Rat"
    elif y%12==5:
        return "Ox"
    elif y%12==6:
        return "Tiger"
    elif y%12==7:
        return "Rabbit"
    elif y%12==8:
        return "Dragon"
    elif y%12==9:
        return "Snake"
    elif y%12==10:
        return "Horse"
    elif y%12==11:
        return "Sheep"
    else:
        return "Monkey"
chinese_zodiac(1999)

'Rabbit'

In [60]:
#58 Two sisters are eating chocolate, whose pieces are represented as subarrays of [l x w].
#Write a function that returns True if the total area of chocolate is the same for each sister.

def test_fairness(agatha, bertha):
    a=1
    b=0
    d=0
    for x in agatha:                                  #a=0;b=0
        for y in x:                                   #for x in agatha:
            a=a*y                                     #a+=x[0]*x[1]
        b+=a                                          # for x in bertha:
        a=1                                           #b+=x[0]*x[1]
    for x in bertha:                                  #return a==b
        for y in x:
            a*=y
        d+=a
        a=1
    return b==d
test_fairness([[1, 2], [2, 1]], [[2, 2], [4, 4]])

False

In [61]:
#59 Failed or passed an exam. First parameter is the user's score. Second parameter is the required score.
def grade_percentage(user_score, pass_score):
    s=''
    if int(user_score[:-1])<int(pass_score[:-1]) :
        s=s+'FAILED'
    if int(user_score[:-1])>=int(pass_score[:-1]) :
        s=s+'PASSED'
    return 'You'+' '+s+' '+'the Exam'
grade_percentage("85%", "85%")

'You PASSED the Exam'