In [5]:
#Write a python program to convert a string to lower case
var=input('enter the string to convert:')
var.lower()

enter the string to convert:ARTBTE

'artbte'

In [6]:
#Write a python program to convert only odd indexed characters to lower case
var1=input('enter the string:')
var2=''
a =0
while a<len(var1):
    if a%2==0:
        var2 = var2+ var1[a]
    else:
        var2 = var2+ var1[a].lower()
    a+=1  
var2

enter the string:RGNBRGB

'RgNbRgB'

In [36]:
#Write a python program to convert only even indexed characters to lower case
var3= input('enter the string:')
var4=''
for b in range(0,len(var3)):
    if b%2!=0:
        var4= var4+ var3[b]
    else:
        var4 = var4+ var3[b].lower()
    b+=1    
var4

enter the string:ASDFGHJ

'aSdFgHj'

In [2]:
#odd indexed to upper
var5=input('enter the string:')
var6=''
c =0
while a<len(var5):
    if a%2==0:
        var6 = var6+ var5[a]
    else:
        var6 = var6+ var5[a].upper()
    c+=1  
var6

enter the string:ugugvuu

'uGuGvUu'

In [4]:
#even indexed to upper
var7= input('enter the string:')
var8=''
d=0
while d<len(var7):
    if d%2!=0:
        var8= var8+ var7[d]
    else:
        var8 = var8+ var7[d].upper()
    d+=1    
var8

enter the string:fgbsfgbbg

'FgBsFgBbG'

In [28]:
#biodata
name=input('enter your name:')
age=int(input('enter age:'))
gender=input('enter your gender:')
phone_no=int(input('enter your mobile number:'))
fathers_name=input('enter fathers name:')
mothers_name=input('enter mothers name:')
bio_data='My name is {}\n My gender is {}\nMy age is {}\nMy phone number is {}\nMy fathers name is {}\nMy mothers name is {}'
print(bio_data.format(name,gender,age,phone_no,fathers_name,mothers_name))

enter your name:venkat
enter age:22
enter your gender:male
enter your mobile number:6767677883
enter fathers name:srinivas
enter mothers name:krishna
My name is venkat
 My gender is male
My age is 22
My phone number is 6767677883
My fathers name is srinivas
My mothers name is krishna

In [7]:
#how many @ times
count_=input('enter the string:')
count_.count('@')

enter the string:@fdbdf@

2

In [30]:
#only names
name_string='name1.@gmail.com,name2.@gmail.com,name3.@gmail.com'
new_str=name_string.split('.@gmail.com')
new_str.pop()
s=''
for x in range(0,len(new_str)):
    s = s+ new_str[x]
print(s)

name1,name2,name3

In [29]:
#print middle characters
z=input('enter the string:')
a=len(z)//2
print(z[a-1:a+2])

enter the string:ababcdeabab
cde

In [31]:
#print a string middle of other string
q=input('enter string:')
r=input('enter other str:')
t=len(q)//2
print(q[0:t]+r+q[t:])

enter string:abcdef
enter other str:z
abczdef

In [34]:
# remove vowels
u='abcdefghijklmnopqrstuvwxyz'
v=''
for x in u:
    if x=='a' or x=='e' or x=='i' or x=='o' or x=='u':
        v=v+''
    else:
        v=v+x
v

'bcdfghjklmnpqrstvwxyz'